<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 <!-- Init method is used to intitialize the bean using Claas path XML , and destroy method is used to destroy the bean -->
 
 <bean class = " BeanLifeCycle.Samosa" name ="S1"  init-method ="inti" destroy-method = "destroy" >
    <property  name ="price" value = "10"  /> 
 
 </bean>
 
 <!--  here interfaces  are used to show bean life cycle -->
 
  <bean class= "BeanLifeCycle.Pepsi" name = "P1">
      <property name ="PriceProduct" value="20"/>
     
  </bean>
  
 </beans>